/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Шапка */
.header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.header .nav-buttons a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
}
.header .nav-buttons a:hover {
    background-color: #0056b3;
}