/* Общие стили для всего документа */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Светлый фон */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9; /* Светлый фон */
}

.container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    padding: 12px;
    background-color: #007bff; /* Синий фон для кнопки */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Темно-синий при наведении */
}

.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
}

.account-link {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.account-link a {
    color: #007bff;
    text-decoration: none;
}

.account-link a:hover {
    text-decoration: underline;
}