<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление товарами</title>
    <link rel="stylesheet" href="/static/css/inventory.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
<!-- Включение хедера -->
<th:block th:replace="fragments/header :: header"></th:block>

<!-- Основной контент -->
<div class="container">
    <h1>Управление товарами</h1>
    <button class="button" onclick="openAddProductForm()">Добавить товар</button>

    <!-- Таблица товаров -->
    <table class="inventory-table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Количество</th>
            <th>Цена закупки</th>
            <th>Цена продажи</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody id="inventory-list">
        <!-- Перебираем все продукты -->
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.category != null ? product.category.name : ''}"></td>
                <!-- Показываем категорию -->
                <td th:text="${product.stockQuantity}"></td>
                <td th:text="${#numbers.formatDecimal(product.purchasePrice, 0, 2)}"></td>
                <td th:text="${#numbers.formatDecimal(product.sellingPrice, 0, 2)}"></td>
                <td th:text="${product.stockQuantity > 10 ? 'В наличии' : (product.stockQuantity > 0 ? 'Мало на складе' : 'Нет в наличии')}"></td>

                <td>
                    <button class="button edit" th:onclick="'editProduct(' + ${product.id} + ')'">Редактировать</button>
                    <!--<button class="button delete" onclick="deleteProduct(${product.id})">Удалить</button>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Модальное окно для добавления/редактирования -->
<div id="product-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modal-title">Добавить товар</h2>
        <form id="product-form">
            <label for="product-name">Название</label>
            <input type="text" id="product-name" name="product-name" required>
            <label for="product-description">Описание</label>
            <textarea id="product-description" name="product-description" rows="4" ></textarea>
            <label for="category">Категория:</label>
            <select id="category" name="category.id">
                <option value="">Не выбрано</option> <!-- Пустой вариант -->
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
            <label for="purchase-price">Цена закупки</label>
            <input type="number" id="purchase-price" name="purchase-price" required>
            <label for="sale-price">Цена продажи</label>
            <input type="number" id="sale-price" name="sale-price" required>
            <button type="submit" class="button">Сохранить</button>
        </form>
    </div>
</div>
<script src="/static/scripts/inventory_script.js"> </script>
</body>
</html>
